
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control {
        border-radius: 5px !important;
        border: 1px solid #0a4e93;
        box-shadow: none;
    }

    .modal-body label, .modal-body h2 {
        color: #0a4e93 !important;
    }

    .modalh4 {
        color: black !important;
        margin: 0px 0px 5px 0px;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
    }
</style>
<div id="AddNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Edit User</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row form-group">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">

                            <span id="DivisionRegion" style="color:red;display:none"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Venue Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="Name" class="form-control usrName" placeholder="Name" required="" />

                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Capacity</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="Capacity" class="form-control usrName" placeholder="Capacity" required="" />

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>Cost</label>
                        </div>
                        <div class="col-md-8">

                            <input type="number" id="Costs" class="form-control usrName" placeholder="Rs" required="" />

                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12 text-center">
                            <input type="button" class="btn btnCancel" data-dismiss="modal" value="CANCEL" />
                            <input type="button" class="btn btnCustom" id="btnSave" value="Update" onclick="Update()" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row" id="container2">
    <div class="form-horizontal">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p style="color:blue;text-transform:uppercase;font-size:25px ; margin:0px !important"><b>Add User</b></p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-3" style="text-align:left">User Name</label>
                <div class="col-md-9">
                    <input type="text" id="Username" class="form-control usrName" placeholder="Username" required="" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" style="text-align:left">Email</label>
                <div class="col-md-9">
                    <input type="Email" id="Email" class="form-control passwrd" placeholder="Email" required="" autocomplete="off" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" style="text-align:left">User Type</label>

                <div class="col-md-9">
                    @Html.DropDownList("ID", ViewBag.UserType as SelectList, "Select Role", htmlAttributes: new { @class = "form-control", style = "width: 100%;", @Id = "UserType" })
                    <input type="hidden" id="ID" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" style="text-align:left">Password</label>

                <div class="col-md-9">
                    <input type="password" id="password" class="form-control passwrd" placeholder="Password" required="" autocomplete="off" />
                    <input type="hidden" id="ID" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" style="text-align:left">Confirm Password</label>

                <div class="col-md-9">
                    <input type="password" id="Cpassword" class="form-control passwrd" placeholder="Confirm Password" required="" autocomplete="off" />
                    <input type="hidden" id="ID" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="button" value="Submit" onclick="Submit()" style="margin-bottom:30px !important;" class="btn btn-info" />
                    <button type="reset" id="reset1" style="margin-bottom:30px !important;" onclick="Reset()" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">

            <div class="panel panel-info">
                <div class="panel-heading">
                    All User's
                </div>
                <div class="panel-body">
                    <table id="myTable" class="display responsive nowrap cell-border compact stripe table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>UserType</th>
                                <th>Actions</th>                               
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="col-sm-12" id="AreaUnderTable" hidden>
                        <div class="pull-right">
                            <input type="hidden" name="LastRowId" id="LastRowId" />
                            <input type="hidden" id="TotalRecord" />
                            <input type="hidden" name="Direction" id="hdnDirection" value="" />
                            <select id="pageSize" name="PageSize" class="form-control pull-left mr10" style="width:75px;">

                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            </select>
                            <div class="pull-left mt10 pagercustom" style="padding-top:6px;padding-left:19px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
</div>
<div id="preloader" style="position: fixed;top: 30%;z-index:999999;left: 40%;">
    <img src="~/Content/img/Preloader.gif" />
</div>
<script>
    function ShowPreLoader() {

        $("body").css({ "opacity": "0.5" });
        $("body").css({ "pointer-events": "none" });
        $("#preloader").css("display", "block");
    }

    function HidePreLoader() {
        $("body").css({ "opacity": "1.0" });
        $("body").css({ "pointer-events": "all" });
        $("#preloader").css("display", "none");
    }
    ShowPreLoader();

    $(document).ready(function () {
        HidePreLoader();
    });
    function Reset() {

         $("#Username").val('');
        $("#Email").val('');
        $("#Cpassword").val('');
         $("#password").val('');
        $("#Phone").val('');
        $("#UserType").val('');
    }






    function Submit() {
        debugger

        var username = $("#Username").val();
        var Email = $("#Email").val();
        var Cpassword = $("#Cpassword").val();
        var password = $("#password").val();
        var Phone = $("#Phone").val();
        var UserType = $("#UserType").val();

        $.ajax({
            url: '/Authentication/CreateUser',
            type: "POST",
            dataType: "JSON",
            data: { UserName: username, Password: password, Email: Email, Cpassword: Cpassword, Phone: Phone, UserType: UserType },
            success: function (response) {
                if (response.Status) {
                    swal({
                        title: "Data Inserted Successfully!",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonColor: "#004890",
                        confirmButtonText: "Confirm",
                        closeOnConfirm: true,
                        html: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            LoadTable();
                        }
                    });
                }
                else {
                    swal("Internet Issue Please Try Again! ");
                }
            },
            error: function (result) {
                alert('Something Went Wrong');
                //$('#FinalReport img').hide();
            }
        });
    }

    $(document).ready(function () {
        //$('#DataTable').DataTable();
        LoadTable();

    });


    function Edit(ID) {
        debugger
        $.ajax({
            url: "/Venue/Edit",
            type: "POST",
            data: { ID: ID },
            dataType: "JSON",
            success: function (response) {
                debugger
                if (response.Status) {
                    $("#Name").val(response.Data.Name);
                    $("#Capacity").val(response.Data.Capacity);
                    $("#Costs").val(response.Data.Costs);
                    $("#ID").val(response.Data.ID);
                    $("#AddNew").modal("show");
                }
                else {
                    swal("Internet Issue Please Try Again! ");
                }
            },
            error: function (result) {
                alert('Something Went Wrong');
                //$('#FinalReport img').hide();
            }
        });
    }

    function Update() {
        debugger
        var Name = $("#Name").val();
        var Capacity = $("#Capacity").val();
        var Costs = $("#Costs").val();
        var ID = $("#ID").val();

        $.ajax({
            url: "/Venue/Update",
            type: "POST",
            data: { Name: Name, Capacity: Capacity, Costs: Costs, ID: ID },
            dataType: "JSON",
            success: function (response) {
                if (response.Status) {
                    swal({
                        title: "Data Updated Successfully!",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonColor: "#004890",
                        confirmButtonText: "Confirm",
                        closeOnConfirm: true,
                        html: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $("#AddNew").modal("hide");
                            LoadTable();
                        }
                    });
                }
                else {
                    swal("Internet Issue Please Try Again! ");
                }
            },
            error: function (result) {
                alert('Something Went Wrong');
                //$('#FinalReport img').hide();
            }
        });
    }


    function DltUser(ID) {
        swal({
            title: "Are you sure you want to delete the record?",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#004890",
            confirmButtonText: "Confirm",
            closeOnConfirm: false,
            html: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    url: "/UserManagement/Delete",
                    dataType: 'json',
                    data: { ID: ID },
                    success: function (response) {
                        if (response.Status) {
                            //swal({
                            //    title: "User deleted successfully",
                            //    type: "success",
                            //    showCancelButton: false,
                            //    confirmButtonColor: "#DD6B55",
                            //    confirmButtonText: "OK",
                            //    closeOnConfirm: true
                            //},
                            //    function (isConfirm) {
                            //        LoadTable();
                            //    })
                            swal('User deleted successfully');
                            LoadTable();
                            //swal({
                            //    title: response.msg,
                            //    type: "success",
                            //    showCancelButton: false,
                            //    confirmButtonColor: "#DD6B55",
                            //    confirmButtonText: "OK",
                            //    closeOnConfirm: true
                            //}, function (isConfirm) {
                            //        if (isConfirm) {
                            //            LoadTable();
                            //    }
                            //})
                        }
                        else {
                            swal({
                                title: response.msg,
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "OK",
                                closeOnConfirm: true
                            }, function (isConfirm) {
                                if (isConfirm) {
                                }
                            })
                        }
                    },
                    error: function (response) {
                        alert("Something Went Wrong Please Try Again Letter....!");
                    }
                });
            }
        })
    }

    function LoadTable() {

        var search = $('#searchfield').val();

        $('#pageSize').val("25");
        $.ajax({
            url: "/UserManagement/GetAllUsers",
            type: "GET",

            data: { SearchCriteria: search },
            dataType: "JSON",
            success: function (response) {
                if (response.Status) {

                    GetRecords(response.Data);
                    $('#LastRowId').val(response.LastRowID);
                    $('#PageSize').val(response.PageSize);
                    $('#TotalRecord').val(response.TotalRecord);
                    $('#AreaUnderTable').removeAttr("hidden");
                    pagination(response);
                }
                else {
                    $('#myTable').DataTable().destroy();
                    $('#myTable tbody').empty();
                    $('#myTable').DataTable();
                    $('#AreaUnderTable').attr("hidden", "true");
                    $('.pagercustom #DynamicRecord').empty();
                    //alert("No Record Found");
                }
            },
            error: function (result) {
                alert('Something Went Wrong');
                //$('#FinalReport img').hide();
            }
        });

    }

    function ChangePage(direction) {

        var search = $('#searchfield').val();
        var LastRowID = $('#LastRowId').val();
        var PageSize = $('#pageSize').val();
        $.ajax({
            type: 'GET',
            url: "/UserManagement/GetAllUsers",
            data: { LastRowId: LastRowID, PageSize: PageSize, Direction: direction, SearchCriteria: search },
            //contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (response) {

                if (response.Status) {
                    GetRecords(response.Data);
                    $('.pagercustom #DynamicRecord').empty();
                    $('#LastRowId').val(response.LastRowID);
                    //$('#PageSize').val(response.PageSize);
                    $('#TotalRecord').val(response.TotalRecord);
                    $('#AreaUnderTable').removeAttr("hidden");


                    pagination(response);

                } else {
                    $('#myTable').DataTable().destroy();
                    $('#myTable tbody').empty();
                    $('#myTable').DataTable();
                    $('#AreaUnderTable').attr("hidden", "true");
                    $('.pagercustom #DynamicRecord').empty();
                    //alert("No Record Found");

                }
            },
            error: function (result) {
                alert('Something Went Wrong ');
            }
        });
    }
    $("#pageSize").change(function () {
        var pagesize = $("#pageSize").val();
        ChangePage(0);
    });

    function GetRecords(response) {
        debugger
        if (response.length != 0) {

            table = $('#myTable').DataTable({
                "aLengthMenu": [[25, 50, 75, 100], [25, 50, 75, 100]],
                "pagingType": "simple",
                dom: 'rt',
                searching: false,
                'destroy': true,
                "aaSorting": [],
                data: response,
                pageLength: 100,
                "responsive": true,
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $(nRow).attr('ID', aData.ID);
                },
                "columnDefs": [{ orderable: false, targets: -1 }],


                "columns": [
                    {
                        "data": "UserName",
                        "class": "text-justify",
                        "width": "auto",
                        "render": function (data, type, row) {
                            if (row.UserName == null) {
                                return '<span> N/A </span>';
                            }
                            return '<span>' + row.UserName + '</span>';

                        }

                    },
                    {
                        "data": "Email",
                        "class": "text-justify",
                        "width": "auto",
                        "render": function (data, type, row) {
                            if (row.Email == null) {
                                return '<span> N/A </span>';
                            }
                            return '<span>' + row.Email + '</span>';

                        }

                    },
                    {
                        "data": "UserType",
                        "class": "text-justify",
                        "width": "auto",
                        "render": function (data, type, row) {
                            if (row.UserType == null) {
                                return '<span> N/A </span>';
                            }
                            return '<span>' + row.UserType + '</span>';

                        }

                    },
                    {
                        "data": "ID",//data=id
                        "class": "background",
                        "render": function (data, type, row) {

                            //return '<a style="font-size: 30px; margin-left: 11px;" onclick=Edit(' + row.ID + ') class="fa fa-pencil"></a>' / '<a style="font-size: 30px; margin-left: 11px;" onclick=DltUser(' + row.ID + ') class="fa fa-trash"></a>';;
                            return '<a style="font-size: 30px; margin-left: 11px;" onclick=DltUser(' + row.ID + ') class="fa fa-trash"></a>';

                        }
                    },
       
                ]
                //"lengthChange": false
            });
        }
        else {
            if (table != null) {
                $("#myTable tbody tr").remove();
            }
        }
    }


    function pagination(response) {
        $('.pagercustom').html('');
        var cal = parseInt((parseInt(response.Count) + parseInt(response.LastRowID)));
        var dynamicdiv = '<div id="DynamicRecord"><span>Showing records' + (response.LastRowID + 1) + '-' + cal + ' of ' + response.TotalRecord + ' </span> ' +
            ' <span class="pink"> ';
        if (response.LastRowID > 0) {
            dynamicdiv += ' <a href="javascript:ChangePage(-1)" class="cursorPointer active pink">Prev</a>';
        } else {
            dynamicdiv += ' <span class="">Prev</span>';
        }
        dynamicdiv += " | ";
        if (response.TotalRecord > 0 && response.TotalRecord > (response.LastRowID + response.Count)) {

            dynamicdiv += ' <a href="javascript:ChangePage(1)" class="cursorPointer active pink">Next</a>';
        } else {
            dynamicdiv += ' <span class="cursorPointer">Next</span>';

        }
        dynamicdiv += ' </span >';

        $('.pagercustom').append(dynamicdiv);
    }


</script>


