
@{
    ViewBag.Title = "ChangePassword";
}

<div class="form-horizontal">
    <div class="panel panel-info">
        <div class="panel-heading">
            <p style="color:blue;text-transform:uppercase;font-size:25px ; margin:0px !important"><b>Change Password</b></p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-3" style="text-align:left">Old Password</label>
            <div class="col-md-9">
                <input type="password" id="oldPassword" class="form-control usrName" placeholder="OLD PASSWORD" required="" />

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" style="text-align:left">New Password</label>
            <div class="col-md-9">
                <input type="password" id="NewPassword" class="form-control usrName" placeholder="NEW PASSWORD" required="" />

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" style="text-align:left">Confirm Password</label>

            <div class="col-md-9">
                <input type="password" id="ConPassword" class="form-control usrName" placeholder="CONFIRM PASSWORD" required="" />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="button" value="Submit" onclick="Submit()" style="margin-bottom:30px !important;" class="btn btn-info" />
                <button type="reset" id="reset1" style="margin-bottom:30px !important;" onclick="Reset()" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Submit() {
        debugger

        var oldPassword = $("#oldPassword").val();
        var NewPassword = $("#NewPassword").val();
        var ConPassword = $("#ConPassword").val();

        if (NewPassword == ConPassword) {



            $.ajax({
                url: "/Authentication/PasswordChange",
                type: "POST",
                data: { oldPassword: oldPassword, NewPassword: NewPassword},
                dataType: "JSON",
                success: function (response) {
                    if (response.Status) {
                        swal({
                            title: "Password Change Successfully!",
                            type: "info",
                            showCancelButton: true,
                            confirmButtonColor: "#004890",
                            confirmButtonText: "Confirm",
                            closeOnConfirm: true,
                            html: false
                        }, function (isConfirm) {
                            if (isConfirm) {                              
                                
                            }
                        });
                    }
                    else {
                        swal("Internet Issue Please Try Again! ");
                    }
                },
                error: function (result) {
                    alert('Something Went Wrong');
                    //$('#FinalReport img').hide();
                }
            });
        }
        else {
            swal("Password Does Not Match! ");
        }
    }

    function Reset() {
        $("#oldPassword").val('');
        $("#NewPassword").val('');
        $("#ConPassword").val('');
    }
</script>