@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>

<!-- Mirrored from mobirise.com/html-templates/landing-page/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 19 Sep 2019 13:22:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->
<head>
    <!-- Site made with Mobirise Website Builder v4.6.4, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.6.4, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="HTML Landing Page Templates Free Website Builder. Download Now!">
    <link rel="stylesheet" href="~/Content/css/mobirise-icons.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/SignIn-Style.css"> <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
</head>

<body>
    <section class="signin_dev">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 Login_sidebar">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="project_heading">Campus Venue Reservation System</h2>
                        </div>
                    </div>
                    <div class="side_bar_Img">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/img/Assets/Login.svg" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/img/Assets/Login.svg" width="100%">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/img/Assets/Login.svg" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_bottom_text">
                        <h3>Collection of Halls , Auditoriums and Cafes</h3>
                    </div>
                    <div class="sidebar_bottom_text">
                       @* <img src="~/Content/ProjectPrint/companymain.jpg" style="width:100%;height:23%" />*@
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content_signin">
                        <h1>LOGIN</h1>
                        <div class="form-group border_light">
                            <i class="fa fa-user"></i>
                            <input type="text" id="UserName" class="form-control usrName" placeholder="Username" required="" />

                            @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter UserName", id = "UserName" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group border_light">
                            <i class="fa fa-lock"></i>
                            <input type="password" id="password" class="form-control passwrd" placeholder="Password" required="" autocomplete="off" />

                            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password", id = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6  checkbox">
                                <input type="checkbox" />&nbsp;Remember me
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="#" class="lnk_forget">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <input type="button" style="background-color: #e9695b;color:white" value="Home" onclick="RedirecttoHome()" class="btn btn-default" />
                            <input type="button" id="submit" value="Sign Up" onclick="RedirectoSignUp()" class="btn btn-primary" />
                            <input type="button" id="submit" value="Sign In" onclick="login()" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</body>
</html>

<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/mbr-booking-datepicker.min.js"></script>
<script src="~/Content/js/smooth-scroll.js"></script>
<script src="~/Content/js/jquery.touch-swipe.min.js"></script>
<script>
    function RedirectoSignUp() {
        window.location.href = "../Authentication/Index";
    }
    function RedirecttoHome() {
        window.location.href = "../Authentication/LandingPage";
    }

    $('#Password').keyup(function (e) {
        if (e.keyCode == 13) {
            $("#submit").click();
        }
    });

    $(document).keypress(function (e) {
        if (e.keyCode === 13 && $("#buttonLogin").is(":visible")) {
            login();
        }
    })

    function login() {
        debugger
        var UserName = $("#UserName").val();
        var password = $("#password").val();
        $.ajax({
            url: '/Authentication/UserLogin',
            type: "POST",
            dataType: "JSON",
            data: { UserName: UserName, Password: password },
            success: function (response) {
                debugger
                if (response.Status) {
                    window.location.href = "/Dashboard/Index";
                }
                else {
                    console.log(response.msg);
                    swal(response.msg);

                }
            }
        });
    }

</script>
